*{
    margin: 0;
}

header{
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 180px;
    background-color: rgb(77,157,251);
}

header>img{
    width: 300px;
    margin-top: 90px;
    margin-bottom: 30px;
}

main{
    margin: 10px;
}


.titolone{
    font-size: xx-large;
}

.autore-data{
    color: rgb(187,187,187);
}

h2>a{
    text-decoration: none;
    color: rgb(132,208,240);
}

.foto-fonti{
    font-size: small;
}

section>p{
    margin-top: 20px;
}

ul{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

thead{
    margin-top: 20px;
    background-color: cornflowerblue;
    color: white;
}

tbody{
    background-color: rgb(132,208,240);;
}

#riga-bianca{
    background-color: white;
}

footer{
    margin: 10px;
}
.scritta-footer{
    margin-top: 20px;
    color: rgb(187,187,187);
    font-size: large;
}

.monitor{
    padding: 15px;
    font-weight: 600;
    margin-top: 10px;
    font-size: larger;
    color: white;
    width: 250px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
}

.grafico{
    padding: 15px;
    font-weight: 600;
    margin-top: 10px;
    font-size: larger;
    color: white;
    width: 250px;
    height: 200px;
    background-image: url(../img/graph.jpg);
}